body {
    background-color: var(--light-purple);
    color: var(--light-purple);
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--light-purple);
    box-shadow: 5px 10px 10px var(--dark-purple);
}

.nav-links a {
    color: var(--dark-purple);
    background-color: var(--light-purple);
    box-shadow: var(--dark-purple) 0px 2px 20px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: var(--dark-purple);
    color: var(--yellow);
}

main {
    display: grid;
    grid-template-areas: 
        "header header"
        "p1 portrait1"
        "portrait2 p2"
        "p3 portrait3";
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    grid-gap: 50px;
    margin: 50px auto;
    align-items: center;
    padding: 20px 0 50px;
    border-bottom: 2px solid var(--dark-purple);
}

h2 {
    grid-area: header;
    font-weight: 100;
}

.page-title {
    padding: 0 0 50px;
    border-bottom: 2px solid var(--dark-purple);
}


#p1 {
    grid-area: p1;
}

#p2 {
    grid-area: p2;
}

#p3 {
    grid-area: p3;
}

img {
    width: 80%;
    border-radius: 15px;
}

portrait1 {
    grid-area: portrait1;
}

portrait2 {
    grid-area: portrait2;
}

portrait3 {
    grid-area: portrait3;
}

main p {
    width: 80%;
    color: var(--dark-purple);
}

p a {
    background-color: var(--dark-purple);
    color: var(--yellow);
    transition-duration: 500ms;
    border-radius: 5px;
    padding: 2px 8px;
}

p a:hover {
    background-color: var(--yellow);
    color: var(--dark-purple);
    transition-duration: 500ms;
}

#references p {
    color: var(--dark-purple);
    font-weight: 600;
}

footer {
    background-color: var(--dark-purple);
    width: 100%;
}

footer .caption {
    padding: 0;
    text-indent: 0;
}