
#background-container {
    position: relative;
    text-align: center;
    width: 100vw;
    background-color: lightgray;
}

#background-image {
    background-image: url("./../../assets/images/landscape.jpeg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 32%;
    opacity: 95%;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    position: absolute;
    top: 0;
}

#landing-title {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    opacity: 100% !important;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 20px;
    box-shadow: 10px 10px 10px 5px rgba(255, 255, 255, 0.1);
}